<%- include("Header") -%>

<!-- navbar section -->
<section id="title">
        <div class="container-fluid headcon">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">CommSpy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navtoggle01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navtoggle01">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class="nav-link" href="about">About Us</a>
            </li>
        </ul>
        </div>
    </nav>

    <!-- animation done in css -->
    <section id="grad">
        <div class="slider-thumb"></div>
        <div class="header">
    
            <div class="intro-div">
                <h1 class="header-text" >CommSpy.</h1>
                <a href="https://ritzic.hashnode.dev/" target=”_blank” class="btn btn-outline-dark btn-lg download-btn blog-visit" type="button">Paste your Link here!!</a>

                <div class="input">
                    <form action="/" method = "post">

                        <input type="text" placeholder="Enter Youtube URL here" name="link" autocomplete="off">
                        <button type="submit" name="submit" class="button">Get Result</button>
                    </div>
                    <p>Tired of SCAM comments ? Let us help you out with our free online tool that lets you see all the scam comments in your youtube video.All you need to do is paste your video url and VOILÀ ... </p>
                </form>
                </div>
                
            </div>
     </section>      
    </div>
</section>

<%- include("Footer") -%>

  